@page "/add-recipe"

<PageTitle>Add Recipe</PageTitle>

<h3>Add a recipe</h3>
<EditForm Model="_recipe" OnValidSubmit="SubmitForm">
    @* ==================================================
                Basic data part - Start
    =====================================================*@
    <FormSection Title="Basic Data" Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Morbi tristique senectus et netus.">
        <FormFieldSet>
            <label for="Name" class="text-secondary fw-bold">
                Name
            </label>
            <InputText @bind-Value="_recipe.Name" class="form-control mt-1" id="recipeName"></InputText>
        </FormFieldSet>
        @* ********************************************************************************************************** *@
        <FormFieldSet>
            <label for="Description" class="text-secondary fw-bold">
                Description
            </label>
            <InputTextArea rows="6" @bind-Value="_recipe.Description" class="form-control mt-1" id="recipeDescription"></InputTextArea>
        </FormFieldSet>
        @* ********************************************************************************************************** *@
        <FormFieldSet>
            <label for="Originality" class="text-secondary fw-bold">
                Originality
            </label>
            <InputText @bind-Value="_recipe.Originality" class="form-control mt-1" id="recipeOriginality"></InputText>
        </FormFieldSet>
        @* ********************************************************************************************************** *@
        <FormFieldSet>
            <label for="Price" class="text-secondary fw-bold">
                Price
            </label>
            <InputNumber @bind-Value="_recipe.Price" class="form-control mt-1" id="recipePrice"></InputNumber>
        </FormFieldSet>
        
        <FormFieldSet>
            <label for="TimeInMinutes" class="text-secondary fw-bold">
                TimeInMinutes
            </label>
            <InputNumber @bind-Value="_recipe.TimeInMinutes" class="form-control mt-1" id="recipeTimeInMinutes"></InputNumber>
        </FormFieldSet>
        @* ********************************************************************************************************** *@
    </FormSection>
    @* ==================================================
                Basic data part - The End
    =====================================================*@
    @* ==================================================
                Ingridient data part - Start
    =====================================================*@
    <FormSection Title="Ingridient Data" Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Morbi tristique senectus et netus.">
        @foreach (var (ingridient, index) in _recipe.Ingridients.Select((x, i) => (x, i + 1)))
        {           
            <FormFieldSet>
                <label for="IngridientName" class="text-secondary fw-bold">
                    Ingredient @index <!-- Shows "Ingredient 1", "Ingredient 2", etc. -->
                </label>
                <div class="input-group">
                    <InputText @bind-Value="ingridient.Name" class="form-control flex-grow-1" id="ingridientName" />
                    <button type="button"class="btn btn-outline-danger" @onclick="@(() => _recipe.Ingridients.Remove(ingridient))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        Remove
                    </button>
                </div>
            </FormFieldSet>
        }
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-info" @onclick="@(() => _recipe.Ingridients.Add(new IngridientDto()))">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                    Add Ingridient
                </button>
            </div>
        </div>
    </FormSection>
    @* ==================================================
                Ingridient data part - The End
    =====================================================*@
    <div class="mt-4 mb-4">
        <div class="row">
            <div class="align-self-start">
                <button class="btn btn-outline-secondary" type="button" @onclick="@(()=> _recipe = new RecipeDto())">
                    Reset
                </button>
                <button class="btn btn-success" type="button">Submit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private RecipeDto _recipe = new RecipeDto();
    public async Task SubmitForm()
    {

    }
}
