<div class="@Width">
    <div class="mt-1">
        @ChildContent
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Width { get; set; } = "col";
}
