@page "/"
@inject HttpClient _httpClient;
@inject NavigationManager _navigationManager

<PageTitle>Recipes Home Page</PageTitle>

<SearchRecipe></SearchRecipe>

<br />
<br />
<br />

@if (_recipes == null)
{
    <div>Loading Recipes ...</div>
}
else
{
    <ViewSwitcher>
        <CardTemplate>
            <div class="row">
                @foreach (var recipe in FilteredRecipes)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <RecipeCard recipe="recipe" OnSelectedRecipe="OnSelectedHandler"></RecipeCard>
                    </div>
                }
            </div>

            <RecipeDetail recipe="selectedRecipe" OnClose="CloseModal"></RecipeDetail>
        </CardTemplate>
        <TableTemplate>
            <table class="table table-hover table-sm align-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="align-partTwo">Originality</th>
                        <th scope="col" class="align-partTwo">Cooking Time</th>
                        <th scope="col" class="align-partTwo">Price</th>
                        <th scope="col" class="align-partTwo">View</th>
                    </tr>
                </thead>
                @foreach (var recipe in FilteredRecipes)
                {
                    <tbody>
                        <RecipeTableRow Recipe="recipe" OnSelected="OnSelectedHandler" />
                    </tbody>
                }
            </table>
            <RecipeDetail recipe="selectedRecipe" OnClose="CloseModal"></RecipeDetail>
        </TableTemplate>
    </ViewSwitcher>

    <br />
    <br />
    <br />
}

@code {
    public Recipe selectedRecipe { get; set; }
    public IEnumerable<Recipe> _recipes { get; set; }
    public IEnumerable<Recipe> FilteredRecipes => _recipes?
        .Where(r => string.IsNullOrEmpty(_searchTerm) ||
                   r.Name.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase) ||
                   r.Description.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase))
        .Where(r => _maxTime == 0 || r.TimeInMinutes <= _maxTime);

    private string _searchTerm = "";
    private int _maxTime = 0;
    private Dictionary<int, bool> _showMoreLinks = new();
    private Dictionary<int, ElementReference> _descriptionRefs = new();
    private Dictionary<int, bool> _expandedDescriptions = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _recipes = await _httpClient.GetFromJsonAsync<IEnumerable<Recipe>>("api/Recipe");

            if (_recipes != null)
            {
                foreach (var recipe in _recipes)
                {
                    _expandedDescriptions[recipe.Id] = false;
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading recipes: {ex.Message}");
        }
    }

    [Inject] IJSRuntime JS { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _recipes != null)
        {
            foreach (var recipe in _recipes)
            {
                var elementRef = _descriptionRefs[recipe.Id];
                var showLink = await JS.InvokeAsync<bool>("checkOverflow", elementRef);
                _showMoreLinks[recipe.Id] = showLink;
            }
            StateHasChanged();
        }
    }

    void ToggleDescription(int recipeId)
    {
        if (_expandedDescriptions.ContainsKey(recipeId))
        {
            _expandedDescriptions[recipeId] = !_expandedDescriptions[recipeId];
        }
    }

    void OnSelectedHandler(Recipe recipe)
    {
        selectedRecipe = recipe;
    }

    void CloseModal()
    {
        selectedRecipe = null;
    }
}