@inject NavigationManager _navigationManager

<div>
    <p class="mt-4 mb-2">Find your favorite recipe.</p>
    <p class="mt-1">
        <input type="text"
               @bind="_searchTerm"
               class="form-control"
               @bind:event="oninput"
               @onkeydown="searchRecipe"
               placeholder="Search for recipe ..." />
                @* @bind: Creates a bidirectional connection between the HTML element and C# code.
                  @bind:event="oninput": Provides more immediate feedback as user types.
                  @onkeydown="searchRecipe": Commonly used to detect specific keys (like Enter) or modify behavior.*@
    </p>
</div>


@code {
    private string _searchTerm = "";

    private void searchRecipe(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            _navigationManager.NavigateTo("/");
        }
        else
        {
            _navigationManager.NavigateTo($"/search/{_searchTerm}");
        }
    }
}